<!DOCTYPE html>
<html>
    <head>
        <title>Vue ex. 1</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
                <input id="input" v-model="message">
                <p>
                        Input is {{ message }}
                </p>
        </div>
        
        
        

        <script>
            new Vue({
                el: '#root',
                data: {
                    message: 'First Hello'
                }
            })
        </script>

    </body>
</html>
