<!DOCTYPE html>
<html>
    <head>
        <title>Vue ex. 2</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
                <input id="input" >
                <button id="button">Add entry</button>
                <ul>
                    <li v-for="name in names" v-text="name"> </li>
                </ul>
        </div>
        
        
        

        <script>
            let app = new Vue({
                el: '#root',
                data: {
                    message: 'First Hello',
                    names: ['name_1','name_2','name_3']
                },
                mounted() {
                    document.querySelector('#button').addEventListener('click', ()=>{
                        let name = document.querySelector('#input');

                        app.names.push(name.value);

                        name.value = '';
                    })
                },
            })
        </script>

    </body>
</html>
