<!DOCTYPE html>
<html>
    <head>
        <title>Vue ex. 3</title>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        <div id="root">
                <input id="input" v-model="message" v-on:keyup.Enter="addName" >
                <button @click="addName" id="button">Add entry</button>
                <ul>
                    <li v-for="name in names" v-text="name"> </li>
                </ul>
                
        </div>
        
        
        

        <script>
            let app = new Vue({
                el: '#root',
                data: {
                    message: 'First Hello',
                    names: ['name_1','name_2','name_3']
                },
                
                methods:{
                    addName() {
                        if(this.message){
                            this.names.push(this.message);
                            //alert('To the list will added ' + this.message)
                            this.message = '';
                        }
                        
                    }
                }
            })
        </script>

    </body>
</html>
